@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: black;
}

.main {
    background-image: url("assets/images/bg.jpg");
    background-position: center center;
    background-size: max(1500px, 100vw);
    background-repeat: no-repeat;
    height: 70vh;
    position: relative;
}

nav {
    max-width: 75vw;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 15px;
}

nav img {
    width: 120px;
    position: relative;
    z-index: 10;
}

nav button {
    position: relative;
    z-index: 10;
}

.main .dark-box {
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.69;
    position: absolute;
    top: 0;
}

.main .hero {
    height: calc(100% - 80px);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
    padding: 0px 12px;
    /* top: -70px; */
}

.hero> span {
    margin: 12px;
}

.hero> :first-child {
    font-weight: 900;
    font-size: 48px;
}

.hero> :nth-child(2) {
    font-weight: 500;
    font-size: 24px;
}

.hero> :nth-child(3) {
    font-weight: 500;
    font-size: 20px;
}

.divider {
    height: 6px;
    background-color: rgb(35,35,35);
    margin: 0;
    padding: 0;
}

.btn{
    padding: 4px 12px; 
    font-weight: 600;
    border: none;
}

.btn-red{
    background-color: red;
    color: white;
    font-size: 20px;
    padding: 8px 20px;
    border-radius: 4px;
}
.btn-red-sm{
    background-color: red;
    color: white;
}